<section id="search">
  <form action="/jobs" method="post">
    <% inputsSearch.forEach(input => { %>
    <div>
      <span class="<%= input.id %>"><%- input.icon %></span>
      <input
        type="<%= input.text %>"
        name="<%= input.name %>"
        id="<%= input.id %>"
        placeholder="<%= input.placeholder %>"
      />
    </div>
    <% }) %>
    <button type="submit">Buscar</button>
  </form>
  <div class="box-seach">
    <ul>
      <li>
        <div>
          <button class="btn-search">
            <span>Todas as vagas</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M128 192l128 128 128-128z"></path>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div>
          <button class="btn-search">
            <span>Data da publicação</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M128 192l128 128 128-128z"></path>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div>
          <button class="btn-search">
            <span>Tipo de vaga</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M128 192l128 128 128-128z"></path>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div>
          <button class="btn-search">
            <span>Categoria</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M128 192l128 128 128-128z"></path>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div>
          <button class="btn-search">
            <span>Salário</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M128 192l128 128 128-128z"></path>
            </svg>
          </button>
        </div>
      </li>
      <li>
        <div>
          <button class="btn-search">
            <span>Escolaridade</span>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              height="200px"
              width="200px"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M128 192l128 128 128-128z"></path>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
